<%= form_with(model: renseignement, local: true) do |form| %>
  <% if renseignement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(renseignement.errors.count, "error") %> prohibited this renseignement from being saved:</h2>

      <ul>
        <% renseignement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entreprise %>
    <%= form.text_field :entreprise %>
  </div>

  <div class="field">
    <%= form.label :particulier %>
    <%= form.text_field :particulier %>
  </div>


  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>


  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
