<p id="notice"><%= notice %></p>

<p>
  <strong>Entreprise:</strong>
  <%= @renseignement.entreprise %>
</p>

<p>
  <strong>String:</strong>
  <%= @renseignement.string %>
</p>

<p>
  <strong>Particulier:</strong>
  <%= @renseignement.particulier %>
</p>

<p>
  <strong>String:</strong>
  <%= @renseignement.string %>
</p>

<p>
  <strong>Email:</strong>
  <%= @renseignement.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @renseignement.string %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @renseignement.numero %>
</p>

<p>
  <strong>String:</strong>
  <%= @renseignement.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @renseignement.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @renseignement.text %>
</p>

<%= link_to 'Edit', edit_renseignement_path(@renseignement) %> |
<%= link_to 'Back', renseignements_path %>
