<p id="notice"><%= notice %></p>

<p>
  <strong>Entreprise:</strong>
  <%= @info.entreprise %>
</p>

<p>
  <strong>Particulier:</strong>
  <%= @info.particulier %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @info.nom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @info.numero %>
</p>

<p>
  <strong>Description:</strong>
  <%= @info.description %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
